<tr id="card-{{ card.card_number }}">  
    <td>
        {% if card.card_number and card.card_number | length >= 10 %}
            {{ card.card_number[:6] }}******{{ card.card_number[-4:] }}        
        {% endif %}
    </td>

    <td>{{ card.card_type or 'N/A' }}</td>
    <td>{{ card.card_holder_name or 'N/A' }}</td>
    <td>{{ card.card_status or 'N/A' }}</td>
    <td>
        {% if card.expiry_date %}
            ****
        {% endif %}
    </td>

    <td>{{ card.balance or 'N/A' }}</td>
    <td>{{ card.received_at or 'N/A' }}</td>
    <td>{{ card.batch_name or 'N/A' }}</td>
</tr>
